.manyuan img {
  margin: 0 auto;
  display: block;
}
.support_other img {
  width: 80%;
}
.navbar-nav li:hover a {
  color: #fff !important;
  background-color: rgba(0,0,0,.08);
}
.support {
  margin-top: 20px;
  margin-bottom: 50px;
}
.support .panel-body {
  font-size: 16px;
}
.support_other {
  margin-bottom: 60px;
}
.icon-bar {
  background-color: #563d7c;
  display: block;
  width: 22px;
  height: 2px;
  border-radius: 1px;
}
.manka_container {
  font-size: 1.5rem;
}
.manka_box {
  padding-bottom: 10px;
  text-align: center;
}
.manka {
  display: inline-block;
  text-align: left;
}
.manka_container p {
  overflow : hidden;
  text-overflow: ellipsis;
  display: -webkit-box;
  -webkit-line-clamp: 2;
  -webkit-box-orient: vertical;
  height: 3em;
}
.panel-heading {
  background: #1e88e5 !important;
  color: #fff !important;
  opacity: 0.8
}
.panel {
  font-size: 15px;
}
@media (max-width: 767px) {
  .caption {
    width: 165px;
  }
  .manka_img {
    width: 165px;
    height: 220px;
    overflow: hidden;
  }
}
@media (min-width: 768px) and (max-width: 969px) { 
  .caption {
    width: 220px;
  }
  .manka_img {
    width: 220px;
    height: 293px;
    overflow: hidden;
  }
}
@media (min-width: 970px) and (max-width: 1199px) { 
  .caption {
    width: 212px;
  }
  .manka_img {
    width: 212px;
    height: 282px;
    overflow: hidden;
  }
}
@media (min-width: 1200px) { 
  .caption {
    width: 165px;
  }
  .manka_img {
    width: 165px;
    height: 220px;
    overflow: hidden;
  }
}
