.manyuan img {
  margin: 0 auto;
  display: block;
}
.support_other img {
  width: 80%;
}
.support {
  margin-top: 20px;
  margin-bottom: 50px;
}
.support_other {
  margin-bottom: 60px;
}
.icon-bar {
  background-color: #563d7c;
  display: block;
  width: 22px;
  height: 2px;
  border-radius: 1px;
}
