.Width100 {
  width: 100%;
}
p {
  margin: 0;
}
.TxtCenter {
  text-align: center;
}
.item-header {
  padding-bottom: 9px;
  margin: 40px 0 20px;
  border-bottom: 1px solid #eee;
}
.bg {
  position: fixed;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  z-index: -1;
  background: #efefef;
  -webkit-filter: blur(2px) saturate(0.9);
  filter: blur(2px) saturate(0.9);
  background-image: url(http://wx2.sinaimg.cn/mw690/0061v5b4gy1fknz5z5sxkj31kw0w0win.jpg);
  background-size:100%;
}
header.navbar {
  background: #1e88e5;
  margin-bottom: 0;
  border: 0;
}
.navbar nav a {
  color: #fff;
}
.navbar nav a:hover {
  background-color: #1e88e5;
  color: #337ab7;
}
.navbar-header a {
  color: #fff;
}
.navbar-header a:hover {
  background-color: #1e88e5;
}
body > .container {
  position: relative;
  background: #fff;
}